.version.index /* version checker */
{
	color: #00000F;
	background-color: #987CC2;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	background-color: transparent;
	border-color: #000000;
	background-image: none;
	border-width: 0px;
	margin-right: auto;
	z-index: 1;
	padding-bottom: 0px;
}

#u229
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 4;
}

#u1592,#u1592-bw
{
	z-index: 2;
}

#u469-4
{
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	z-index: 6;
}

#u469-4-bw
{
	z-index: 6;
}

#u4316
{
	background-color: transparent;
	position: relative;
	z-index: 20;
}

#u4355
{
	background-color: transparent;
	position: relative;
	z-index: 24;
}

#u4342
{
	background-color: transparent;
	position: relative;
	z-index: 22;
}

#u1592_align_to_page,#u2201_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u2312
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 14;
}

#u2201,#u2201-bw
{
	z-index: 3;
}

#u601-4
{
	color: #FFFFFF;
	background-color: transparent;
	min-height: 8px;
	text-align: center;
	z-index: 10;
}

#u601-4-bw
{
	min-height: 8px;
	z-index: 10;
}

#u2324-4
{
	color: #2D2D2D;
	font-weight: bold;
	background-color: transparent;
	text-align: center;
	font-size: 34px;
	line-height: 41px;
	z-index: 16;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") repeat center top scroll;
}

body
{
	position: relative;
}

@media (min-width: 1025px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 875.9999999999998px;
		width: 100%;
	}

	#u1592
	{
		min-height: 91px;
		padding-bottom: 19px;
	}

	#u229
	{
		width: 408px;
		margin-top: 11px;
		margin-left: 50%;
		left: -204px;
	}

	#u1592-bw
	{
		min-height: 91px;
	}

	#u469-4
	{
		min-height: 53px;
	}

	#u469-4-bw
	{
		min-height: 53px;
		margin-top: 91px;
	}

	#pu4316
	{
		margin-top: 127px;
		width: 100%;
	}

	#u4316
	{
		margin-right: -10000px;
		width: 18.55%;
		left: 19.64%;
	}

	#u4342
	{
		margin-right: -10000px;
		width: 18.55%;
		left: 40.73%;
	}

	#u4355
	{
		margin-right: -10000px;
		width: 18.55%;
		left: 61.83%;
	}

	#pu2201
	{
		margin-top: 261px;
		width: 100%;
	}

	#u2201
	{
		min-height: 141px;
		padding-bottom: 3px;
	}

	#pu1592,#u1592_align_to_page,#u4316_img,#u4342_img,#u4355_img,#u2201_align_to_page
	{
		width: 100%;
	}

	#u2312
	{
		width: 247px;
		margin-top: 41px;
		margin-left: 50%;
		left: -124px;
	}

	#u2324-4
	{
		width: 178px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		margin-top: 71px;
		margin-left: 50%;
		left: -89px;
	}

	#u2201-bw
	{
		min-height: 141px;
	}

	#u601-4-bw
	{
		margin-top: 19px;
	}
}

@media (min-width: 321px) and (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		min-height: 787.9999999999998px;
		width: 100%;
		max-width: 1024px;
	}

	#u1592
	{
		min-height: 80px;
		padding-bottom: 30px;
	}

	#u229
	{
		width: 306px;
		margin-top: 20px;
		margin-left: 50%;
		left: -153px;
	}

	#u1592-bw
	{
		min-height: 80px;
	}

	#u469-4
	{
		min-height: 22px;
	}

	#u469-4-bw
	{
		min-height: 22px;
		margin-top: 88px;
	}

	#u4316
	{
		margin-right: -10000px;
		width: 31.25%;
		left: 1.96%;
	}

	#u4342
	{
		margin-right: -10000px;
		width: 31.25%;
		left: 34.38%;
	}

	#u4355
	{
		margin-right: -10000px;
		width: 31.25%;
		left: 66.8%;
	}

	#pu4316,#pu2201
	{
		margin-top: 177px;
		width: 100%;
	}

	#u2201
	{
		min-height: 131px;
		padding-bottom: 13px;
	}

	#pu1592,#u1592_align_to_page,#u4316_img,#u4342_img,#u4355_img,#u2201_align_to_page
	{
		width: 100%;
	}

	#u2312
	{
		width: 247px;
		margin-top: 31px;
		margin-left: 50%;
		left: -124px;
	}

	#u2201-bw
	{
		min-height: 131px;
	}

	#u601-4-bw
	{
		margin-top: 7px;
	}

	#u2324-4
	{
		min-height: 34px;
	}

	#u2324-4-bw
	{
		z-index: 16;
		min-height: 34px;
		margin-top: 57px;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		width: 320px;
		min-height: 800.9999999999998px;
	}

	#pu1592
	{
		width: 0.01px;
	}

	#u1592
	{
		min-height: 70px;
		padding-bottom: 40px;
	}

	#u229
	{
		width: 255px;
		margin-top: 20px;
		left: 32px;
	}

	#u1592-bw
	{
		min-height: 70px;
	}

	#u469-4
	{
		min-height: 53px;
	}

	#u469-4-bw
	{
		min-height: 53px;
		margin-top: 85px;
	}

	#u4316
	{
		width: 280px;
		margin-left: 20px;
	}

	#u4355,#u4342
	{
		width: 280px;
		margin-left: 20px;
		margin-top: 16px;
	}

	#pu2201
	{
		width: 0.01px;
		margin-top: 13px;
	}

	#u2201
	{
		min-height: 125px;
		padding-bottom: 19px;
	}

	#u1592_align_to_page,#u2201_align_to_page
	{
		width: 320px;
	}

	#u2312
	{
		width: 222px;
		margin-top: 33px;
		left: 49px;
	}

	#u2201-bw
	{
		min-height: 125px;
	}

	#u601-4-bw
	{
		margin-top: 10px;
	}

	#u2324-4
	{
		min-height: 39px;
	}

	#u2324-4-bw
	{
		z-index: 16;
		min-height: 39px;
		margin-top: 53px;
	}

	body
	{
		min-width: 320px;
	}
}

