.version.index /* version checker */
{
	color: #00000C;
	background-color: #B6CDE3;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	border-color: #000000;
	z-index: 1;
	padding-bottom: 0px;
	margin-right: auto;
	background-image: none;
	background-color: transparent;
	margin-left: auto;
}

#u1592,#u1592-bw
{
	z-index: 2;
	height: 48px;
}

#u229
{
	z-index: 4;
	position: relative;
	background-color: transparent;
}

#u469-4
{
	font-size: 32px;
	z-index: 6;
	line-height: 32px;
	min-height: 53px;
	font-weight: bold;
	color: #D13636;
	background-color: transparent;
	text-align: center;
}

#u469-4-bw
{
	z-index: 6;
	min-height: 53px;
}

#u2201_align_to_page
{
	margin-right: auto;
	position: relative;
	margin-left: auto;
}

#u3028
{
	margin-right: -10000px;
	z-index: 22;
	position: relative;
	background-color: transparent;
}

#u2312
{
	margin-right: -10000px;
	z-index: 14;
	position: relative;
	background-color: transparent;
}

#u3020
{
	margin-right: -10000px;
	z-index: 20;
	position: relative;
	background-color: transparent;
}

#u2201,#u2201-bw
{
	z-index: 3;
}

#u601-4
{
	color: #FFFFFF;
	z-index: 10;
	background-color: transparent;
	min-height: 8px;
	text-align: center;
}

#u601-4-bw
{
	z-index: 10;
	min-height: 8px;
}

#u2324-4
{
	z-index: 16;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	min-height: 34px;
	color: #2D2D2D;
	font-weight: bold;
}

.html
{
	background: #FFFFFF url("../images/15-04_shot_03.gif") no-repeat center top fixed;
	background-size: cover;
}

body
{
	position: relative;
}

@media (min-width: 1025px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.9999999999998px;
		width: 100%;
	}

	#u229
	{
		width: 511px;
		margin-top: 19px;
		margin-left: 50%;
		left: -255px;
	}

	#pu2201
	{
		margin-top: 206px;
		width: 100%;
	}

	#u2201
	{
		min-height: 120px;
		padding-bottom: 24px;
	}

	#u2201_align_to_page
	{
		width: 100%;
	}

	#u2312
	{
		width: 178px;
		margin-top: 48px;
		margin-left: 50%;
		left: -89px;
	}

	#u2324-4
	{
		width: 178px;
		position: relative;
		margin-right: -10000px;
		margin-top: 67px;
		margin-left: 50%;
		left: -89px;
	}

	#u2201-bw
	{
		min-height: 120px;
	}

	#u469-4-bw,#u601-4-bw
	{
		margin-top: 15px;
	}

	#u3020
	{
		width: 105px;
		margin-top: 31px;
		left: 93.49%;
	}

	#u3028
	{
		width: 82px;
		margin-top: 32px;
		left: 1.05%;
	}

}

@media (min-width: 321px) and (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		min-height: 787.9999999999998px;
		width: 100%;
		max-width: 1024px;
	}

	#u229
	{
		margin-top: 25px;
		width: 44.83%;
		margin-left: 27.59%;
		left: -1px;
	}

	#u469-4-bw
	{
		margin-top: 21px;
	}

	#pu2201
	{
		margin-top: 407px;
		width: 100%;
	}

	#u2201
	{
		min-height: 124px;
		padding-bottom: 20px;
	}

	#u229_img,#u2201_align_to_page
	{
		width: 100%;
	}

	#u2312
	{
		width: 173px;
		margin-top: 54px;
		margin-left: 50%;
		left: -87px;
	}

	#u2201-bw
	{
		min-height: 124px;
	}

	#u601-4-bw
	{
		margin-top: 23px;
	}

	#u2324-4-bw
	{
		z-index: 16;
		min-height: 34px;
		margin-top: 72px;
	}

	#u3020
	{
		width: 105px;
		margin-top: 22px;
		left: 87.8%;
	}

	#u3028
	{
		width: 82px;
		margin-top: 40px;
		left: 1.96%;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		width: 320px;
		min-height: 512.9999999999999px;
	}

	#u229
	{
		width: 255px;
		margin-left: 32px;
		margin-top: 16px;
	}

	#u469-4-bw
	{
		margin-top: 12px;
	}

	#pu2201
	{
		width: 0.01px;
		margin-top: 179px;
	}

	#u2201_align_to_page
	{
		width: 320px;
	}

	#u3028
	{
		width: 38px;
		margin-top: 105px;
		left: 7px;
	}

	#u2312
	{
		width: 148px;
		margin-top: 45px;
		left: 86px;
	}

	#u3020
	{
		width: 50px;
		margin-bottom: -5px;
		margin-top: 99px;
		left: 263px;
	}

	#u2201,#u2201-bw
	{
		min-height: 144px;
	}

	#u601-4-bw
	{
		margin-top: 23px;
	}

	#u2324-4-bw
	{
		z-index: 16;
		min-height: 34px;
		margin-top: 58px;
	}

	body
	{
		min-width: 320px;
	}
}

