.version.index /* version checker */
{
	color: #000004;
	background-color: #4C1F72;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	border-color: #000000;
	z-index: 1;
	padding-bottom: 0px;
	width: 100%;
	margin-right: auto;
	background-image: none;
	background-color: transparent;
	margin-left: auto;
}

#u1592,#u1592-bw
{
	z-index: 2;
	height: 48px;
}

#u221
{
	left: 0px;
	z-index: 6;
	position: relative;
	background-color: transparent;
}

#u229
{
	z-index: 4;
	position: relative;
	background-color: transparent;
	margin-top: 9px;
}

#u469-4
{
	font-size: 48px;
	z-index: 8;
	line-height: 48px;
	min-height: 53px;
	font-weight: bold;
	color: #D13636;
	background-color: transparent;
	text-align: center;
}

#u469-4-bw
{
	z-index: 8;
	min-height: 53px;
}

#u221_img,#pu2201
{
	width: 100%;
}

#u2201
{
	padding-bottom: 20px;
	z-index: 3;
	min-height: 124px;
}

#u2201_align_to_page
{
	margin-right: auto;
	width: 100%;
	position: relative;
	margin-left: auto;
}

#u2312
{
	margin-right: -10000px;
	z-index: 16;
	position: relative;
}

#u2324-4
{
	z-index: 18;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	margin-right: -10000px;
	line-height: 31px;
	min-height: 34px;
	color: #2D2D2D;
	position: relative;
	font-weight: bold;
}

#u2201-bw
{
	z-index: 3;
	min-height: 124px;
}

#u601-4
{
	color: #FFFFFF;
	z-index: 12;
	background-color: transparent;
	min-height: 8px;
	text-align: center;
}

#u601-4-bw
{
	z-index: 12;
	min-height: 8px;
}

.html
{
	background: #FFFFFF url("../images/15-04_shot_03.gif") no-repeat center top fixed;
	background-size: cover;
}

body
{
	position: relative;
}

@media (min-width: 1025px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.9999999999998px;
	}

	#u221
	{
		margin-top: 5px;
		width: 7.3%;
		margin-left: 46.36%;
	}

	#u229
	{
		width: 511px;
		margin-left: 50%;
		left: -255px;
	}

	#u469-4-bw
	{
		margin-top: 21px;
	}

	#pu2201
	{
		margin-top: 60px;
	}

	#u2312
	{
		width: 178px;
		background-color: transparent;
		margin-top: 52px;
		margin-left: 50%;
		left: -75px;
	}

	#u2324-4
	{
		width: 178px;
		margin-top: 71px;
		left: 46.1%;
	}

	#u601-4-bw
	{
		margin-top: 15px;
	}
}

@media (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		min-height: 787.9999999999998px;
		max-width: 1024px;
	}

	#u221
	{
		margin-top: 10px;
		width: 11.33%;
		margin-left: 44.34%;
	}

	#u229
	{
		width: 44.83%;
		margin-left: 27.59%;
		left: -1px;
	}

	#u229_img
	{
		width: 100%;
	}

	#u469-4-bw
	{
		margin-top: 19px;
	}

	#pu2201
	{
		margin-top: 295px;
	}

	#u2312
	{
		margin-top: 54px;
		width: 16.9%;
		left: 42.68%;
	}

	#u2312_img
	{
		display: block;
		vertical-align: top;
		width: 100%;
	}

	#u2324-4
	{
		margin-top: 72px;
		width: 14.46%;
		left: 44.05%;
	}

	#u601-4-bw
	{
		margin-top: 23px;
	}

	body
	{
		min-width: 320px;
	}
}

