	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 584.9999999999998px;
		width: 100%;
	}

	#u221
	{
		margin-top: 5px;
		width: 7.3%;
		margin-left: 46.36%;
		left: 0px;
	}

	#u229
	{
		width: 511px;
		margin-top: 9px;
		margin-left: 50%;
		left: -255px;
	}

	#u469-4-bw
	{
		margin-top: 21px;
	}

	#pu2201
	{
		margin-top: 60px;
		width: 100%;
	}

	#u2201
	{
		min-height: 124px;
		padding-bottom: 20px;
	}

	#u221_img,#u2201_align_to_page
	{
		width: 100%;
	}

	#u2312
	{
		width: 178px;
		margin-top: 52px;
		margin-left: 50%;
		left: -75px;
	}

	#u2324-4
	{
		width: 178px;
		position: relative;
		margin-right: -10000px;
		margin-top: 71px;
		margin-left: 50%;
		left: -75px;
	}

	#u2201-bw
	{
		min-height: 124px;
	}

	#u601-4-bw
	{
		margin-top: 15px;
	}

