	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 971.6932837244849px;
		width: 100%;
	}

	#u1592
	{
		min-height: 92px;
		padding-bottom: 37px;
	}

	#u229
	{
		width: 408px;
		margin-left: 50%;
		left: -204px;
	}

	#u1592-bw
	{
		min-height: 92px;
	}

	#u469-4-bw
	{
		margin-top: 101px;
	}

	#pu4865
	{
		margin-top: -4px;
		width: 100%;
	}

	#u4865
	{
		z-index: 38;
		margin-right: -10000px;
		margin-top: 1px;
		width: 27.51%;
		left: 7.45%;
	}

	#u4865_img
	{
		padding-right: 3px;
		width: 99.44%;
	}

	#u4604
	{
		z-index: 26;
		margin-right: -10000px;
		margin-top: 1px;
		width: 27.61%;
		left: 36.1%;
	}

	#u4604_img
	{
		padding-right: 3px;
		width: 99.44%;
	}

	#u4879
	{
		z-index: 40;
		margin-right: -10000px;
		width: 27.71%;
		left: 64.8%;
	}

	#u4828
	{
		z-index: 28;
		min-height: 97px;
	}

	#u4828_align_to_page
	{
		width: 100%;
		margin-bottom: -3px;
	}

	#u4618-4
	{
		z-index: 29;
		width: 1021px;
		margin-bottom: -6px;
		margin-top: 12px;
		margin-left: 50%;
		left: -510px;
	}

	#u4828-bw
	{
		z-index: 28;
		min-height: 97px;
		margin-top: -3px;
	}

	#u4316
	{
		margin-right: -10000px;
		width: 27.71%;
		left: 7.24%;
	}

	#u4342
	{
		z-index: 22;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 27.66%;
		left: 36.05%;
	}

	#u4355
	{
		z-index: 24;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 27.71%;
		left: 64.8%;
	}

	#page_position_content,#pu1592,#u1592_align_to_page,#u4879_img,#pu4316,#u4316_img,#u4342_img,#u4355_img,#pu2201
	{
		width: 100%;
	}

	#u2201
	{
		min-height: 142px;
		padding-bottom: 36px;
	}

	#u2201_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
	}

	#u4628
	{
		z-index: 33;
		margin-top: 41px;
		margin-left: 50%;
		left: -474px;
	}

	#pu2312
	{
		margin-right: -10000px;
		margin-top: 42px;
		width: 12.87%;
		margin-left: 43.57%;
	}

	#u2312
	{
		width: 247px;
		margin-left: 50%;
		left: -124.5px;
	}

	#u2324-4
	{
		width: 178px;
		min-height: 34px;
		margin-top: 26px;
		margin-left: 50%;
		left: -89.5px;
	}

	#u2201-bw
	{
		min-height: 142px;
	}

	#u601-4-bw
	{
		margin-top: 146px;
	}

	#u4811-4
	{
		z-index: 34;
	}

	#u4811-4-bw
	{
		z-index: 34;
		margin-top: 12px;
	}

